.filters-wrapper {
    display: flex;
    flex-direction: row;
    gap: 30px;
    align-items: flex-end;
    flex-wrap: wrap;
}

.filter-group {
    display: flex;
    flex-direction: column;
}

.filter-group input,
.filter-group select {
    padding: 8px;
    border-radius: 5px;
    border: 1px solid #ccc;
    width: 150px;
    box-sizing: border-box;
}

.filter-group label {
    margin-bottom: 5px;
    font-weight: bold;
}

.filter-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px 0;
    gap: 15px;
}

.filters-wrapper {
    display: flex;
    flex-direction: row;
    gap: 30px;
    align-items: flex-end;
    flex-wrap: wrap;
}


.table-controls {
    display: flex;
    justify-content: flex-end;
    margin-top: 10px;
    margin-right: 50px;
}


.scroll-btn {
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 5px 10px;
    cursor: pointer;
    font-size: 16px;
    margin-left: 5px;
    transition: background-color 0.3s;
}

.scroll-btn:hover {
    background-color: #0056b3;
}


.yellow-icon {
    color: #FFD700;
    font-size: 20px;
    text-decoration: line-through;
}


.icon-button {
    background: none;
    border: none;
    padding: 0;
    cursor: pointer;
    display: inline-flex;
    align-items: center;
    justify-content: center;
}

