
/* Estilo para el mensaje de logout */
.logout-message {
    padding: 10px;
    background-color: #dff0d8;
    border: 1px solid #d0e9c6;
    color: #3c763d;
    border-radius: 5px;
    margin-bottom: 20px;
}

/* Estilo para el botón de logout */
.logout-button {
    padding: 10px 15px;
    background-color: #f8d7da;
    color: #721c24;
    border: 1px solid #f5c6cb;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    text-align: center;
    display: inline-block;
    position: relative;
    margin-top: 50px;

}

/* Efecto hover para el botón */
.logout-button:hover {
    background-color: #f5c6cb;
}
