.page-title {
    text-align: center;
    margin-bottom: 20px;
}

.review-count {
    text-align: right;
    margin: 20px auto;
    width: 90%;
}

.descripcion-box {
    word-wrap: break-word;
    white-space: normal;
    max-width: 300px;
}

.bi-star-fill {
    color: gold;
}

/*BOTONES DE EDITAR Y ELIMINAR*/
.actions-container {
    display: flex;
    gap: 10px;
    align-items: center;
}

.delete-button {
    background: none;
    border: none;
    cursor: pointer;
}

.edit-button {
    text-decoration: none;
}

.edit-button i {
    color: black;
    transition: color 0.3s;
}

.edit-button i:hover {
    color: blue;
}

.delete-button i {
    color: black;
    transition: color 0.3s;
}

.delete-button i:hover {
    color: red;
}




